
html {
    height: 100%;
    resize: none;
  }
  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background:linear-gradient(to bottom right,#11d8f4,#c3505d)
  }
  
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.4);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input, textarea{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    resize: none;
  }
  textarea{
    height: 100px;
  }
  .login-box .user-box label{
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }

  .login-box .user-box textarea:valid ~ label,
  .login-box .user-box textarea:focus ~ label,
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #fdd7e4;
    font-size: 12px;
  }
  .label_s label {
    color: #fdd7e4;
    font-size: 12px;
    top: -10px;
    left: 0;
    position: relative;
  }
  input[type = submit] {
    position: static;
    padding: 10px 20px;
    color: #fdd7e4;
    background: transparent;
    outline-width: 0mm;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    border: none;
    outline: none;
    display: block;
    margin: auto;
    width: auto;
    min-width: 50px;
 }
    input[type = submit]:hover {
    background: rgba(150,114,130,1);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(150,114,130,1),
                0 0 25px rgba(150,114,130,1),
                0 0 50px rgba(150,114,130,1),
                0 0 100px rgba(150,114,130,1);

                
  }
select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  outline: 0;
  width: 100%;
  height: 3em;
  padding: 0 4em 0 1em;
  background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center/1.4em, linear-gradient(to left, rgba(255, 255, 255, 0.3) 3em, rgba(255, 255, 255, 0.2) 3em);
  color: white;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
select option {
  color: inherit;
  background-color: rgba(150,114,130,1);
}
select:focus {
  outline: none;
}
select::-ms-expand {
  display: none;
}